# Logs
logs
*.log
npm-debug.log*

# Dependency directory
node_modules
files
temp/

auth.json

!.gitkeep

# Optional npm cache directory
.npm

# Optional REPL history
.DS_Store
.idea
.vscode

.env

.rar
.zip
.log

user.session